body {
  background-color: pink;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: black;
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 30px;
}

h2 {
  color: black;
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 30px;
}

p {
  color: rgb(56, 58, 146);
  font-size: 11px;
  line-height: 15px;
  text-shadow: 0 0 5px #999;
}

button {
  align-content: center;
}

section {
  align-content: center;
}

.logo {
  position: absolute;
  left: -5px;
  width: 170px;
  cursor: pointer;
}
