body {
  background-color: pink;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: black;
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 30px;
}

h2 {
  color: black;
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 30px;
}

h3 {
  color: black;
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 20px;
}

p {
  color: black;
  font-size: 15px;
  line-height: 15px;
  text-shadow: 0 0 5px #999;
}

button {
  align-content: center;
  background-color: rgb(216, 85, 135);
  width: 250px;
  height: 50px;
  font-size: 20px;
}

section {
  align-content: center;
}

.logo {
  position: absolute;
  left: -5px;
  width: 170px;
  cursor: pointer;
}

#hoverButton {
  font-family: "Times New Roman", Times, sans-serif;
  width: 250px;
  height: 50px;
  font-size: 20px;
}
